{% extends "base_generic.html" %}
{% load i18n %}

{% block content %}
<table class="table table-bordered" id="company_competition_table">
<tr>
<th>{% trans "Jméno" %}</th>
<th>{% trans "Typ soutěže" %}</th>
<th>{% trans "Typ soutěžících" %}</th>
<th>{% trans "Pohlaví" %}</th>
<th>{% trans "Módy dopravy" %}</th>
<th>{% trans "Upravit" %}</th>
<th>{% trans "Výsledky" %}</th>
</tr>
{% for competition in competitions %}
   <tr>
      <td>
         {% if competition.url %}<a href="{{ competition.url}}">{% endif %}
            {{ competition.name }}
         {% if competition.url %}</a>{% endif %}
      </td>
   <td>{{ competition.get_competition_type_display }}</td>
   <td>{{ competition.get_competitor_type_display }}</td>
   <td>{{ competition.get_sex_display|default_if_none:"Všechna" }}</td>
   <td>{{ competition.commute_modes_list }}</td>
   <td><a href="{% url 'company_admin_competition' competition_slug=competition.slug %}">{% trans "upravit" %}</a></td>
   <td><a href="{% url 'competition_results' competition_slug=competition.slug %}">{% trans "výsledky" %}</a></td>
   </tr>
{% endfor %}
</table>
{% endblock %}
