{% extends "base_generic.html" %}
{% load dpnk_tags %}
{% load i18n %}

{% block content %}
<table class="table table-bordered" id="company_competition_table">
<tr>
<th>{% trans "Jméno soutěže" %}</th>
<th>{% trans "Typ soutěže" %}</th>
<th>{% trans "Výsledky" %}</th>
</tr>
{% for competition in competitions %}
   <tr>
      <td>
         {% if competition.url %}<a href="{{ competition.url}}">{% endif %}
            {{ competition.name }}
         {% if competition.url %}</a>{% endif %}
      </td>
   <td>{{ competition.type_string }}</td>
   <td><a href="{% url 'competition_results' competition_slug=competition.slug %}#search_company={{user_attendance.related_company_admin.administrated_company}}">{% trans "výsledky za mojí organizaci" %}</a></td>
   </tr>
{% endfor %}
</table>
{% endblock %}
