{% extends "base_generic.html" %}
{% load humanize %}
{% load i18n %}
{% load scribbler_tags %}

{% block content %}
{% with user_attendance.get_emissions as emissions %}
<table class="table">
<tr>
   <td>{% trans "Ujetá vzdálenost" %}</td><td>{{ user_attendance.get_nonreduced_length|floatformat:1 }}&nbsp;km</td>
</tr>
<tr>
   <td>CO<sub>2</sub></td><td>{{ emissions.co2|intcomma }}&nbsp;g</td>
</tr>
<tr>
   <td>CO</td><td>{{ emissions.co|intcomma }}&nbsp;mg</td>
</tr>
<tr>
   <td>NO<sub>X</sub></td><td>{{ emissions.nox|intcomma }}&nbsp;mg</td>
</tr>
<tr>
   <td>N<sub>2</sub>O</td><td>{{ emissions.n2o|intcomma }}&nbsp;mg</td>
</tr>
<tr>
   <td>CH<sub>4</sub></td><td>{{ emissions.ch4|intcomma }}&nbsp;mg</td>
</tr>
<tr>
   <td>SO<sub>2</sub></td><td>{{ emissions.ch4|intcomma }}&nbsp;mg</td>
</tr>
<tr>
   <td>{% trans "Pevné částice" %}</td><td>{{ emissions.solid|intcomma }}&nbsp;mg</td>
</tr>
<tr>
   <td>{% trans "Olovo" %}</td><td>{{ emissions.pb|intcomma }}&nbsp;mg</td>
</tr>
</table>
{% endwith %}
<div id="calculator_description">
   {% scribble 'emmission_calculator_description' %}
   {% load i18n %}
   <h3>{% trans "Popis emisní kalkulačky" %}</h3>
   <p>{% trans "V kalkulačce je metoda přepočtu celkových udávaných emisí z individuální automobilové dopravy (IAD) v ČR na její výkon. Výsledkem jsou hmotnostní jednotky daných látek na kilometr. Zdrojem dat je Ročenka dopravy ČR za rok 2013." %}</p>
   {% endscribble %}
</div>
{% endblock %}
