{% extends "base_generic_registration_form.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load scribbler_tags %}
{% load i18n %}

{% block extrahead %}
{% get_available_languages as languages %}
{% get_current_language as current_language_code %}
<script language='javascript' type='text/javascript' src='https://secure.payu.com/paygw/UTF/js/{{ PAYU_POS_ID }}/{{ PAYU_KEY_1|slice:":2" }}/template:3/ext_calc:0/paytype.js'></script>
<script type="text/javascript" src="{% static "bow/jquery-form/jquery.form.js"%}"></script>
{{ block.super }}
{% endblock %}



{% block container_footer %}
<script>
function selected_value(){
   return $('input[name=payment_type]:checked', '#div_id_payment_type').val();
};

function switch_description(){
   $(".description_switcher_div").hide();
   sel_val = selected_value();
   $("." + sel_val + "_description").show()
   if(sel_val == 'pay' || sel_val == 'pay_beneficiary' || sel_val == 'member_wannabe')
      $(".form-actions").hide();
   else
      $(".form-actions").show();

   if(sel_val == 'pay_beneficiary') {
      $("#payment_amount").text("{{ beneficiary_amount }} Kč");
      $("#beneficiary-motivation").show()
   } else {
      $("#payment_amount").text("{{ amount }} Kč");
      $("#beneficiary-motivation").hide()
   }
};
$("#div_id_payment_type").change(function() {
   switch_description();
});

$(function(){
   switch_description();
   $("#div_id_payment_type").append($("#description_switcher"));

   $.get("{{AKLUB_URL}}/{{ current_language_code }}/regular-dpnk/?firstname={{firstname}}&amp;surname={{surname}}&amp;email={{email}}&amp;telephone={{user_attendance.userprofile.telephone}}", function(data) {
      $("#aklub-form-container").append(data);
      $("#aklub-form").ajaxForm({replaceTarget: false, target: "#aklub-form", success: function(){
         window.scrollTo(0, 0);
      }});
   });

   $(".pay_description form").submit(function(){

      if(selected_value() == 'pay_beneficiary') {
         var payment_url = '{% url "payment_beneficiary" %}';
      } else {
         var payment_url = '{% url "payment" %}';
      }
      if($("#payu-hidden-values input").length == 0) {
         $.get(payment_url, function(data) {
            $("#payu-hidden-values").html(data);
            $(".pay_description form").submit();
         });
         return false;
      }
   });
});
</script>
<div id="description_switcher">
   <div class="description_switcher_div description company_description" style="display:none">
      <h3>{% trans "Účastnický poplatek platí zaměstnavatel" %}</h3>
      {% trans "Účastnický poplatek za mě platí zaměstnavatel, mám to s ním nebo jeho koordinátorem domluvené." %}
      <br/><br/>
      {% trans "Zaměstnavatel: " %} {{ user_attendance.team.subsidiary.company }}<br/>
      {% for company_admin in user_attendance.get_asociated_company_admin_with_payments %}
         {% trans "Firmní koordinátor: " %} {{ company_admin|default:"Není" }}<br/>
         {% trans "E-mail na koordinátora: " %}<a href='mailto:{{ company_admin.userprofile.user.email|default:"Není" }}'>{{ company_admin.userprofile.user.email|default:"Není" }}</a><br/>
      {% empty %}
         <strong>
         <hr/>
         {% trans "Váš zaměstnavatel ještě nemá zvoleného firemního koordinátora nebo neumožňuje platbu za zaměstnance. Pokud chcete zvolit tento typ platby, je potřeba, aby byla platba účastnického poplatku fakturou dohodnutá s vaším zaměstnavatelem." %}
         </strong>
         <br/>
         <a href='{% url "company_admin_application" %}'>{% trans "Chci se sám stát koordinátorem mé organizace." %}</a>
      {% endfor %}
   </div>
   <div class="description_switcher_div description coupon_description" style="display:none">
      <h3>{% trans "Slevový voucher" %}</h3>
      {% trans "Pokud jste obdrželi voucher, v následujícím kroku můžete uplatnit slevu, nebo nárok na soutěž zdarma." %}
   </div>
   <div class="description_switcher_div description member_wannabe_description" style="display:none">
      <h3>{% trans "Vstup do Klubu přátel" %}</h3>
      <div id="aklub-form-container"></div>
   </div>
</div>
<div class="description_switcher_div description pay_description pay_beneficiary_description">
   <h3>{% trans "Platba účastnického poplatku" %}</h3>
   <div id="beneficiary-motivation" style="display:none">
   {% scribble 'beneficiary_payment' %}
   {% load i18n %}
   {% trans "Platbou benefičního startovného podpoříte Auto*Mat ve zlepšování dopravních návyků obyvatel měst, v rozšíření kampaně Do práce na kole do nových lokalit a ve zlepšování podmínek pro městské městské cyklisty." %}
   {% endscribble %}
   </div>
   <form action="https://secure.payu.com/paygw/UTF/NewPayment" method="POST" name="payform" class="submit-once-form">
   {% trans "Soutěžící:" %} {{ user_attendance.userprofile.user.get_full_name }}<br/>
   {% trans "Účastnický poplatek:" %} <span id="payment_amount">{{ amount }} Kč</span><br/>
   <div id="payu-hidden-values"></div>
   <script language="JavaScript" type="text/javascript">
   PlnPrintTemplate();
   </script>
   <input type="button" name="prev" value="{% trans "Předchozí" %}" class="btn btn-default" id="button-id-prev" onclick="window.location.href='{% url prev_url %}'">
   <input type="submit" class="btn btn-primary" value="{% trans "Zaplatit" %}"/>
</form>
</div>
{% endblock %}
