{% load i18n %}
<ol>
   {% if user_attendance.company_coordinator_emails and campaign.competitors_choose_team %}
      <li>
         {% trans "Po koordinátorovi vaší organizace na e-mailové adrese" %} {{ user_attendance.company_coordinator_emails }}
      </li>
   {% else %}
      <li>
         {% trans "Po naší podpoře na e-mailové adrese" %} <a href="mailto:kontakt@dopracenakole.cz?subject={% trans "Žádost o změnu adresy organizace, pobočky nebo týmu" %}">kontakt@dopracenakole.cz</a>.
      </li>
   {% endif %}
</ol>
