{% extends "base_generic_form.html" %}
{% load i18n %}
{% load l10n %}

{% block form %}
<script type="text/javascript">
   $(function () {
      $('[data-toggle="tooltip"]').tooltip()
   })
</script>

<table class="table">
   {% for trip in trips %}
   <tr>
      {% if trip.date %}
      <td>{{ trip.date }}</td>
      <td>{{ trip.get_direction_display }}</td>
      <td>{{ trip.commute_mode }}</td>
      <td>{{ trip.distance }}</td>
      <td>
         {% if trip.has_gpxfile %}
         <a href="{% url "gpx_file" id=trip.gpxfile.id %}">
            <i class="fa fa-eye"></i>
         </a>
         {% endif %}
      </td>
      {% else %}
      <td>{{ trip.0 }}</td>
      <td>{{ trip.1 }}</td>
      <td>{{ trip.2 }}</td> <td></td> <td></td>
      {% endif %}
   </tr>
   {% endfor %}
</table>


{% if other_gpx_files %}
   <h3>{% trans "Další nahrané jízdy" %}</h3>
   <table class="table">
      {% for gpx_file in other_gpx_files %}
      <tr>
         <td>{{ gpx_file.trip_date }}</td>
         <td>{{ gpx_file.get_direction_display }}</td>
         <td>{% if gpx_file.length %}{{ gpx_file.length|floatformat:1 }}&nbsp;Km{% endif %}</td>
         <td>
         <a href="{% url "gpx_file" id=gpx_file.id %}">
            <i class="fa fa-eye"></i>
         </a>
         </td>
      </tr>
      {% endfor %}
   </table>
{% endif %}
<div></div>
{% endblock %}
