{% load i18n %}
{% load static %}
{% load gtm_tags %}
{% load dpnk_tags %}
{% load raven %}
{% load scribbler_tags %}
{% load sitetree %}
<!DOCTYPE html>
{% get_available_languages as languages %}
{% get_current_language as current_language_code %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ current_language_code }}" lang="{{ current_language_code }}">
<head>
<title>{% block title %}{% if campaign %}{{ campaign.name }}{% endif %}{% if title %} - {{ title }}{% endif %}{% endblock %}</title>
<link rel="apple-touch-icon" sizes="180x180" href="{% static "img/favicon/apple-touch-icon.png" %}">
<link rel="icon" type="image/png" href="{% static "img/favicon/favicon-32x32.png" %}" sizes="32x32">
<link rel="icon" type="image/png" href="{% static "img/favicon/favicon-16x16.png" %}" sizes="16x16">
<link rel="manifest" href="{% static "img/favicon/manifest.json" %}">
<link rel="mask-icon" href="{% static "img/favicon/safari-pinned-tab.svg" %}" color="#5bbad5">
<meta name="theme-color" content="#1ea04f">
{% block default_head %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script type="text/javascript" src="{% static "bow/jquery/dist/jquery.min.js"%}"></script>
<script type="text/javascript" src="{% static "bow/jquery-ui/jquery-ui.min.js"%}"></script>
<script type="text/javascript" src="{% static "bow/jquery.are-you-sure/jquery.are-you-sure.js"%}"></script>
<script type="text/javascript" src="{% static "bow/bootstrap/dist/js/bootstrap.js"%}"></script>
<script type="text/javascript" src="{% static "js/form_functions.js"%}"></script>
<script type="text/javascript" src="{% static 'scribbler/js/scribbler-min.js' %}"></script>
<script src="https://cdn.ravenjs.com/2.2.0/raven.min.js"></script>
<script>
Raven.config('{% sentry_public_dsn %}').install();
{% if user.is_authenticated %}
Raven.setUserContext({
  email: '{{ user.email }}',
  id: '{{ user.id }}'
})
{% endif %}
</script>

<link href="{% static 'scribbler/css/scribbler.css' %}" rel="stylesheet">
<link href="{% static "bow/lightbox2/dist/css/lightbox.css"%}" rel="stylesheet">
<link href="{% static "bow/bootstrap/dist/css/bootstrap.css"%}" rel="stylesheet" media="screen">
<link href="{% static "bow/jquery-ui/themes/base/jquery-ui.min.css"%}" rel="stylesheet" media="screen">
<link href="{% static "bow/bootstrap-social/bootstrap-social.css"%}" rel="stylesheet" media="screen">
<link href="{% static "css/bootstrap_mod.css"%}" rel="stylesheet" media="screen">
<link rel='stylesheet' id='family-css'  href='https://fonts.googleapis.com/css?family=Open+Sans%3A400italic%2C300%2C600%2C400&#038;subset=latin%2Clatin-ext&#038;ver=4.1.1' type='text/css' media='all' />
<link href="{% static "bow/font-awesome/css/font-awesome.css"%}" rel="stylesheet">
<link href="{% static "css/style.css"%}" type="text/css" rel="stylesheet" media="screen">
<link href="{% static "css/sitetree_bootstrap_submenu.css"%}" type="text/css" rel="stylesheet" media="screen">
<style>
  .navbar-top{
    border-top: 3px solid {% if HEADER_COLOR %}{{ HEADER_COLOR }}{% endif %};
  }
</style>

{% endblock %}{% block extrahead %}{% endblock %}
</head>
<body class="django_administrace {% if request.resolver_match.url_name == 'profil' %}homepage{% endif %} {% if request.resolver_match %}{{ request.resolver_match.url_name }}{% endif %}">
{% gtm %}
<div class="navbar navbar-top" role="navigation">
   <div class="container">
      <div class="row">
         <div class="col-md-1 col-sm-1 col-xs-2 logo_holder">
            <a class="logo" href="{% url "profil" %}">
               <img src="{% static "img/dpnk_logo.png" %}" alt="Logo soutěže" />
            </a>
         </div>
         <div class="col-md-9 col-sm-9 col-xs-10">
            {% if request and campaign %}
            <nav class="navbar navbar-default">
                 <h1>
                    {{ campaign.name }}
                 </h1>

                  {% if user.is_authenticated %}
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsible_menu" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      &#9776;
                    </button>
                  {% endif %}

                 <div class="nav navbar-nav main_menu collapse navbar-collapse" id="collapsible_menu">
                    {% if user.is_authenticated %}
                       {% sitetree_menu from campaign.sitetree_postfix_maintree include "trunk,topmenu" template "sitetree/menu_bootstrap3.html" %}
                    {% else %}
                       {% sitetree_menu from "unlogged_menu" include "trunk,topmenu" template "sitetree/menu_bootstrap3.html" %}
                    {% endif %}
                    {% if user.is_authenticated and user_attendance.related_company_admin.is_approved %}
                       {% sitetree_menu from "company_coordinator_menu" include "trunk,topmenu" template "sitetree/menu_bootstrap3.html" %}
                    {% endif %}
                    {% if user.is_staff %}
                       {% sitetree_menu from "admin_menu" include "trunk,topmenu" template "sitetree/menu_bootstrap3.html" %}
                    {% endif %}
                 </div>

                 <div id="collapsing_menu" class="collapse navbar-collapse">
                    {% block second_menu %}
                    {% endblock %}
                 </div>

            </nav>
            {% endif %}


        </div>
        <nav class="col-md-2">
         <div class="lang_switch">
            <ul>
                  {% block langchanger %}
                  {% for lang_code, lang_name in languages %}
                  {% if campaign.language_prefixes in lang_code or campaign.language_prefixes == "dpnk" and lang_code|length == 2 %}
                    <li class="{% if lang_code == current_language_code %}active{% endif %}">
                      <a href="{% change_lang lang_code %}" class="switch-{{ lang_code }}" title="{{ lang_name }}">{{ lang_code|cut:campaign.language_prefixes|upper }}</a>
                    </li>
                  {% endif %}
                  {% endfor %}
                  {% endblock %}
            </ul>
         </div>
        </nav>
      </div>
   </div>
</div>
<div class="base container">
   <div class="row">
      <div class="main_content col-md-8 col-sm-7 col-md-offset-1 col-sm-offset-1">
         <!--[if lte IE 8]>
            <p class="alert alert-warning browsehappy">{% trans 'Bohužel používáte <strong>zastaralý</strong> prohlížeč internetu. Přes naši snahu nemusí některé části webu dobře fungovat. Pokud můžete, <a href="http://www.whatbrowser.org/intl/cs">nainstalujte si novější prohlížeč' %}</a>.
         <![endif]-->
         {% block caption %}<h2>{{ title }}</h2>{% endblock %}
         {% if opening_message %}
         {{ opening_message }}
         {% endif %}
         {% block error %}
            {% if fullpage_error_message %}
            <div class="alert alert-danger">{{ fullpage_error_message }}</div>
            {% else %}
            {% scribble 'before_content' %}{% endscribble %}
            {% block content %}{% endblock %}
            {% scribble 'after_content' %}{% endscribble %}
            {% endif %}
         {% endblock %}
      </div>
      <div class="col-md-3 col-sm-3">
          {% if user.is_authenticated %}
          {% scribble 'before_right_panel' current_language_code %}{% endscribble %}
          <ul class="user_info">
                 <li>{% trans "Uživatel: " %}{{ user_attendance }}</li>
                 {% if user_attendance.userprofile.user.email %}<li>{% trans "E-mail: " %}{{ user_attendance.userprofile.user.email }}</li>{% endif %}
                 {% if user_attendance.team and user_attendance.campaign.competitors_choose_team %}<li>{% trans "Tým: " %}{{ user_attendance.team.name }}</li>{% endif %}
                 <li><a href="{% url 'password_change' %}">{% trans "Změnit heslo" %}</a></li>
                 <li>{% scribble 'inside_right_panel' current_language_code %}{% endscribble %}</li>
                 <li class="logout_django"><a class="btn btn-warning logout" href="{% url 'logout' %}" title="Log out">{% trans "Odhlásit" %}</a></li>
          </ul>
          {% scribble 'after_right_panel' current_language_code %}{% endscribble %}
          {% endif %}

      </div>
   </div>
</div>
 <script>
      jQuery(document).ready(function($) {
        // deactivate unfulfilled links
        $('.disabled a').click(function (e) {
          e.preventDefault();
        });
        $('.readonly').click(function (e) {
          e.preventDefault();
        });
        $('.readonly').keydown(function (e) {
          e.preventDefault();
        });

      });

    </script>
<script type="text/javascript" src="{% static "bow/lightbox2/dist/js/lightbox.min.js"%}"></script>
</body>
</html>
