@links:#000;
@secondary:#333;
@c: #6279bb;
@c2: #FFF2E8;
@c3: #8790AB;
@h:#921038;

@font-face {
    font-family: 'integrabold';
    src: url('../fonts/integra-bold-webfont.eot');
    src: url('../fonts/integra-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/integra-bold-webfont.woff2') format('woff2'),
         url('../fonts/integra-bold-webfont.woff') format('woff'),
         url('../fonts/integra-bold-webfont.ttf') format('truetype'),
         url('../fonts/integra-bold-webfont.svg#integrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

.waiting-for-load {
   cursor: progress;
}
a{
	color:#333;
	&:hover, &:active, &:focus{
		color:#000;
	}
}
.btn{
	border-radius:0;
	&.btn-primary{
		background-color:@secondary;
		border:0;
	}
}
#rides{
   .weekend-day {
      background-color: hsla(200, 0%, 91%, 1);
   }
   .unchanged {
      background-color: #ffcccc;
   }
	.form-control{
		width:70px;
     	display: inline;
	}
	thead{
		th{
			background:transparent;
			font-size: 2rem;
		}
	}
	label{
		font-weight: 400;
		color:#999;
		
	}
	.btn-group{
		label{
			color:#000;
			background:#E0E0E0;
			border-radius: 6px;
		}
		.btn{
			margin-left:0.3rem;
		}
	}
	.controls{
		margin-bottom: 0.3rem;
		.radio{
			// border: 1px solid #ddd;
			// border-right: 1px solid #ddd;
			margin-top:0;
			&.btn{
				padding:0;
			}
			input[type="radio"]{
				display:none;
			}
			label{
				display: inline-block;
	    		padding: 4px 10px;
			}
			// &:first-child{
			// 	border:0;
			// }
			// &:last-child{
			// 	border:0;
			// }
			input[type="radio"]:checked+label{
				background-color: #90D890 !important;
			}
		}
	}
	.pin{
		 position: relative;
	    top: -3.8rem;
	    left: 8rem;
	    font-size: 2rem;
	    opacity: 0.4;
	    &:hover{
	    	opacity:1;
	    	color:#000;
	    }
	}
	.date{
		span{
			opacity:0.5;
		}
	}
}
#rides-form{
	.form-group{
		margin-bottom: 0;
	}
}
#id_track_map{
	position: relative;
	margin-bottom: 3rem;
	// width:500px !important;
}



// #collapsing_menu{
// 	float: left;
// }
// 
#rides .asteriskField{
	display: none;
}
a{
	text-decoration:underline;
}
h1, h2, h3, h4, h5{
	font-family: 'integrabold';
}
h1,h2{
	font-size: 1.5em;
}
h3, h4{
	font-size:1.2em;
}
.main_content{
	padding-left: 3.5rem;
}
.navbar-top{
	background-color: #fd0;
	border-bottom: 0 ;
    padding-top: 3px;
}
.navbar, .navbar-default .navbar-nav{
	font-family: 'integrabold';
	min-height:38px;
	margin-bottom: 0.5rem;
	&.navbar-default{
		background-color:transparent;
		border:0;
	}
	// &.main_menu{
	// 	border-bottom:1px solid lighten(@links, 10%);
	// }
	li{
		// display:inline-block;
		// float:initial;
		a{	
			padding:5px 10px;
			text-decoration: none;
			color:@links;
			&.active, &:hover{
				text-decoration: none;
			}
		}
		ul{
			li{
				a{
					color:#fff;
				}
			}
		}
	}
	h1{
		margin: 1.5rem 0 .7rem .8rem;
	}
	ul{
		margin-bottom: 0;
		li{
		
			&.fulfilled{
				a{
					&:after{
						content:  "\2713";
						margin-left:.2rem;
						text-decoration:none;
					}
				}
			}
			&.unfulfilled{	
				a{
					&:hover{
						color:#4f92ce;
					}
				}
			}
			ul{
				li{
					ul{
						li{
							font-size: 0.9em;
							padding-left:0.3em;
							padding-bottom:0.3em; 
						}
					}
				}
			}
		}
	}
}
.upravit_profil, .zmenit_tym, .pozvanky, .typ_platby{
	.navbar, .navbar-default .navbar-nav{
		&.main_menu{
			border-bottom:1px solid lighten(@links, 10%);
		}
	}
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	background-color:transparent;
	text-decoration:underline;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
	background-color:@links;
	color:#fff;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color:lighten(@links, 30%);
    color:#fff;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
	background-color:lighten(@links, 30%);
	color:#fff;
}
.dropdown-submenu{
	position:relative;
	a:after {
		margin-right: -5px !important;
	}
}

.dropdown-menu{
	border:0;
	border-radius:0;
	background-color:@links;
	box-shadow: 0 6px 12px rgba(0, 0, 0,0);
	a{
		color:#fff;
	}
}
.login{
	a{

	}
}
.steps{
	li{
		padding-right: 0.3em;
		&:last-child{
			background-image: none;
		}
	}

}
#the_menu .dropdown-menu, .the_submenu .dropdown-menu{
	background-color: @c2;
}
#the_menu{
	margin-top:0;
}
.the_submenu{
	float: left;
	clear: both;
}
.navbar-collapse{
	padding-left: 0;
}
.base.container{
	margin-top:-4px;
	margin-bottom: 80px;
	a{
		text-decoration: underline;
	}
	h1, h2, h3, h4, h5{
		// a{
		// 	text-decoration: none;
		// }
	}
	h4{
		a{
			text-transform: initial;
		}
	}
	img{
		width:100%;
		height:auto;
	}
}
.django_administrace{
	form{
		margin:2em 0 0 0;
		// padding-right:50px;
	}
}
.company_admin_pay_for_users, .upravit_trasu{
	form{
		width:100%;
	}
}
input, textarea, .form-control{
	border-radius:0;
}
input[type=checkbox]{
	margin-right:0.3em;
}

.controls{
	margin-bottom: 1em;
	// display:inline-block;
	// border: 1px solid #ddd;
	// border-radius: 7px;
	overflow:hidden;
	// 


}
input:disabled+label{
   color:#ccc;
}
.user_info{
	margin-top: 5.2em;
	padding-left: 0;
	li{
		list-style: none;
	}
	.logout_django{
		a{
		display: block;
		margin-top:0.3em;
		color:#fff;
		width:100%;
		}

	}
}
.logo{
	margin-top: 1.9rem;
	margin-bottom: 1.3rem;
    display: inline-block;
    img{
    	filter: brightness(0);
    }
}
.lang_switch{
	float: right;
	li{
		display: inline-block;
		list-style: none;
		a{
			padding:15px 5px;
			display: inline-block;
		}
		&.active{
			a{
				color:lighten(@links, 30%)
			}
		}
	}
}
.btn.show_rides_btn{
	margin-bottom: 0.5em;
}
.vote{
	background:url(../img/thumbsup.png) no-repeat right 40%;
	display: inline-block;
	padding-right: 18px;
	color:#4D4D4D;
	margin-left: 0.3em;
}
.cyklistesobe{
	img{
		width:100%;
		height:auto;
		margin-bottom: 1em;
	}
}
.wp_news{
	margin-bottom: 4rem;
	h4{
		line-height:2rem;
	}
}
.prizes{
	.item{
		width:25%;
		float: left;
		text-align: center;
		margin-bottom: 1rem;
		.bobble{
			border:1px solid #6279bb;
			background-color: #fff;
			overflow: hidden;
		}
		h4{
			min-height: 5rem;
		}
	}
}
.disabled{
	a{
		color:#b7b7b7 !important;
		text-decoration: none;
	}
}
.btn{
	text-decoration: none !important;
}
form{
	label{
		width:100%;
	}
}
.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background-color:transparent;
	border:0;
}
.navbar-collapse{
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0);
}
@-moz-document url-prefix() {
    .caret {
        margin-top: -.5rem;
    }
}

@media (max-width: 768px){
	.logo{
		margin-top:1.3rem;
	}
	.navbar-nav .open .dropdown-menu{
		margin:0;
		padding:0;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus{
		background-color:transparent;
		text-decoration:underline;
	}
	.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
		color:@links;
		background-color:transparent;
	}
	.navbar h1, .navbar-default .navbar-nav h1{
		margin:2.7rem 0 .7rem 1.2rem;
		display:inline-block;
	}
	.navbar-default .navbar-toggle{
		margin-top: 2.1rem;
		margin-right: 5px;
	}
	.navbar-nav {
	    margin: 7.5px 0 0 -0.4rem;
	}
	.navbar ul li a{
		padding-left: 0;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form{
		border:0;
	}
	.navbar.main_menu, .typ_platby .navbar.main_menu, .upravit_profil .navbar-default .navbar-nav.main_menu, .zmenit_tym .navbar-default .navbar-nav.main_menu, .pozvanky .navbar-default .navbar-nav.main_menu, .typ_platby .navbar-default .navbar-nav.main_menu {
	    border-bottom: 0;
	    margin-left: 0.9rem;
	}
	.lang_switch{
		position: absolute;
		top: 0;
		right: 1rem;
		margin-top: -1rem;
		li{
			a{
				padding-bottom:0;
			}
		}
	}
	.logo_holder{
		float: left;
	}
	#collapsing_menu{
		width:100%;
	}
	.the_submenu{
		margin-top:0.5em;
	}

   #rides{
		.btn-group{
			.btn{
				width:100%;
			}
			label{
				white-space: nowrap;
			  overflow: hidden;
			  text-overflow: ellipsis;
			  max-width: 90%;
			}
		}
	}
}
@media only screen and (max-width: 400px) {
   #rides td:nth-child(6),
   #rides th:nth-child(6){
      display: none;
   }
}
@media only screen and (max-width: 340px) {
   #rides td:nth-child(4),
   #rides th:nth-child(4),
   #rides td:nth-child(5),
   #rides th:nth-child(5){
      display: none;
   }
}

@media only screen and (max-width: 400px){
	.narrow-hide-400{
      display: none;
   }
		#id_track_map{
		width:300px !important;
	}
}
// @media only screen and (max-width: 480px)
// {

// }
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.wp_news img{
  max-width:100%;
  width:100%;
  height:auto;
}

#payu_ img,
.zmenit_triko img,
.questionnaire-image img {
   width:auto !important;
}

.ui-menu-item a,
.leaflet-control-container a{
   text-decoration: none !important;
}

.tooltip {
  position: fixed;
}

.tooltip-inner {
    white-space:pre-wrap;
    max-width:none;
}

.news-row {
  padding: 0 15px 0 15px;
  -webkit-columns: 355px 2;
  -moz-columns: 355px 2;
  columns: 355px 2;
}

.dpnk-content-box {
  -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
                 break-inside: avoid;
}

.news-row .dpnk-content-box:first-child h3:first-child {
  margin-top:0px;
}

// Scribbler placeholder
.original.scribble-content:after {
  content: "\FEFF";
}
